.x-large{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.bg{
    &-primary{
       @include setBackgroundColor($primary-color)
    }
    &-light{
        @include setBackgroundColor($light-color);
        border: #ccc 1px solid;
     }
     &-dark{
        @include setBackgroundColor($dark-color)
     }
     &-success{
        @include setBackgroundColor($success-color)
     }
     &-danger{
        @include setBackgroundColor($danger-color)
     }
     &-white{
        @include setBackgroundColor(#fff);
        border: #ccc 1px solid;
     }
}

    .btn{
        background-color: $light-color;
        color: #333;
        padding: 0.4rem 1.3rem;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        margin-right: 0.5rem;
        outline: none;
        transition: all 0.2s ease-in;
        &.btn{
            &-primary{
               @include setBackgroundColor($primary-color);
               &:hover{ @include setBtnBackgroundColor($primary-color);}
            }
            &-light{
                &:hover{ 
                    background: lighten($dark-color, 20%);
                    color: #fff;
                }

                border: #ccc 1px solid;
             }
             &-dark{
                @include setBackgroundColor($dark-color);
                &:hover{ @include setBtnBackgroundColor($dark-color);}
             }
             &-success{
                @include setBackgroundColor($success-color);
                &:hover{ @include setBtnBackgroundColor($success-color);}

             }
             &-danger{
                @include setBackgroundColor($danger-color);
                &:hover{ @include setBtnBackgroundColor($danger-color);}
             }
             &-white{
                @include setBackgroundColor(#fff);
                border: #ccc 1px solid;
             }
             
        }
        
    }


.dark-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.7)
}